body {
  background: #333;
}

body.home {
  background-image: linear-gradient(black, rgba(#333,0.05)), url('~@/assets/leather-nunchuck.png');
  color: #aaccee;
  // background: #333;
}

body.workouts {
  background-image: url('~@/assets/tactile_noise.png');
  background-repeat: repeat;
  background-image: linear-gradient(black, rgba(#333,0.05)), url('~@/assets/leather-nunchuck.png');
  // background: #333;
}